<nav>
    <a href="/">home</a> |
    <a href="/about">about</a> |
    <a href="/product">product</a> |
    <a onclick="isAdmin('<%= admin.id  %>'); return false;" href="/admin">admin</a> 
</nav>

<script>
    //관리자 확인(id,pwd)
    function isAdmin(id){
       const inputid = prompt('관리자 아이디 입력');
       if(inputid === id){
        console.log('관리자 정보 일치');
        location.href = "/admin";
       } else{
        alert('아이디가 틀립니다.');
       }

       //return false; //기본이벤트 취소(a동작금지)
    }
    
</script>
