<nav>
    <a href="/">home</a> |
    <a href="/about">about</a> |
    <a href="/product">product</a> |
    <a onclick="isAdmin('<%= admin.id %>'); return false;" href="/admin">admin</a> 
</nav>

<script>
    //관리자 확인(id,pwd)
    //아이디 비밀번호 확인까지 추가
    /* function isAdmin(id){
       const inputid = prompt('관리자 아이디 입력');
       if(inputid === id){
            const inputpwd = prompt('비밀번호를 입력해주세요');
            if(inputpwd === '1234'){
                location.href = "/admin";
                console.log('관리자 정보 일치');
            } else{
                alert('비밀번호가 틀립니다.');
            }   
       } else{
        alert('아이디가 틀립니다.');
       }

       //return false; //기본이벤트 취소(a동작금지)
    } */

    function isAdmin(id){
        const inputid = prompt('관리자 아이디 입력');
        const inputpwd = prompt('비밀번호를 입력해주세요');
        if(inputid == id && inputpwd == '1234'){
            location.href = "/admin"; 
        } else{
            alert('정보가 일치하지 않습니다.');
        }   
    }
    
</script>
