<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- 템플릿 엔지(개발용HTML이라고 생각하면 됨.) -->
    <!-- 네비게이션 분리작업 -->
    <!-- nav -->
    <%- include('../components/nav.ejs') %> 
    <h1>쇼핑몰 홈페이지</h1>
    <%= admin.id  %>
    <%= admin.pwd %>  


    <script>

    </script>
</body>
</html>